----------------------------------------------------------

1) Total enrollment per Dept

In [1]:
SELECT 
    d.DepartmentName,
    SUM(cl.Enrollment) AS TotalEnrollment
FROM Data.Department d
JOIN Data.Course co
    ON d.DepartmentKey = co.DepartmentKey
JOIN Data.Class cl
    ON co.CourseKey = cl.CourseKey
GROUP BY d.DepartmentName
ORDER BY TotalEnrollment DESC;

DepartmentName,TotalEnrollment
Computer Science,50
Mathematics,35
English,18

2\. Depts and number of courses offered

In [2]:

SELECT 
    d.DepartmentCode,
    d.DepartmentName,
    COUNT(c.CourseKey) AS TotalCourses
FROM Data.Department d
LEFT JOIN Data.Course c
    ON d.DepartmentKey = c.DepartmentKey
GROUP BY d.DepartmentCode, d.DepartmentName
ORDER BY TotalCourses DESC;

DepartmentCode,DepartmentName,TotalCourses
CSCI,Computer Science,2
MATH,Mathematics,1
ENG,English,1

3. Instr w/ their associated Depts

In [3]:

SELECT 
    i.InstructorFullName,
    d.DepartmentName
FROM Data.Instructor i
JOIN Data.InstructorDepartment id
    ON i.InstructorKey = id.InstructorKey
JOIN Data.Department d
    ON id.DepartmentKey = d.DepartmentKey
ORDER BY i.InstructorFullName;

InstructorFullName,DepartmentName
"Doe, Alex",Computer Science
"Morgan, Casey",English
"Taylor, Jordan",Mathematics

4\. Classes w/ course title,instructor & lecture mode

In [4]:

SELECT 
    c.ClassKey,
    cr.CourseTitle,
    i.InstructorFullName,
    m.ModeName
FROM Data.Class c
JOIN Data.Course cr
    ON c.CourseKey = cr.CourseKey
JOIN Data.Instructor i
    ON c.InstructorKey = i.InstructorKey
JOIN Data.ModeOfInstruction m
    ON c.ModeOfInstructionKey = m.ModeOfInstructionKey
ORDER BY cr.CourseTitle;

ClassKey,CourseTitle,InstructorFullName,ModeName
4,College Writing,"Morgan, Casey",In Person
2,Data Structures,"Taylor, Jordan",Hybrid
3,Linear Algebra,"Taylor, Jordan",Online
1,Programming Languages,"Doe, Alex",In Person

5\. Classes that are almost full

In [5]:

SELECT 
    ClassKey,
    Enrollment,
    Capacity,
    CAST(Enrollment * 100.0 / Capacity AS DECIMAL(5,2)) AS FillPercentage
FROM Data.Class
WHERE Capacity > 0
  AND Enrollment * 1.0 / Capacity >= 0.80;

ClassKey,Enrollment,Capacity,FillPercentage
1,28,35,80.00
3,35,40,87.50

6\. Class schedule w/ building and room location

In [6]:

SELECT 
    cr.CourseCode,
    c.Section,
    b.BuildingName,
    r.RoomNumber,
    c.Days,
    c.ClassTime
FROM Data.Class c
JOIN Data.Course cr
    ON c.CourseKey = cr.CourseKey
JOIN Location.RoomLocation r
    ON c.RoomLocationKey = r.RoomLocationKey
JOIN Location.BuildingLocation b
    ON r.BuildingLocationKey = b.BuildingLocationKey
ORDER BY b.BuildingName, r.RoomNumber;

CourseCode,Section,BuildingName,RoomNumber,Days,ClassTime
ENG 110,D,Humanities Hall,HH-220,TR,14:30-15:45
MATH 241,C,Math Hall,MH-110,MWF,13:00-13:50
CSCI 316,A,Science Hall,SH-201,MW,09:15-10:30
CSCI 320,B,Science Hall,SH-305,TR,11:00-12:15

7. Depts offering courses w/ more than 3 credits

In [7]:

SELECT DISTINCT
    d.DepartmentName
FROM Data.Department d
JOIN Data.Course c
    ON d.DepartmentKey = c.DepartmentKey
WHERE c.CreditHours > 3;

DepartmentName
Mathematics

8\. Total enrollment per Dept

In [8]:

SELECT 
    d.DepartmentName,
    SUM(cl.Enrollment) AS TotalEnrollment
FROM Data.Department d
JOIN Data.Course co
    ON d.DepartmentKey = co.DepartmentKey
JOIN Data.Class cl
    ON co.CourseKey = cl.CourseKey
GROUP BY d.DepartmentName
ORDER BY TotalEnrollment DESC;

DepartmentName,TotalEnrollment
Computer Science,50
Mathematics,35
English,18

10\. User Authorization Trace of Depts

In [10]:
SELECT 
    d.DepartmentName,
    ua.GroupMemberFirstName,
    ua.GroupMemberLastName,
    d.DateAdded
FROM Data.Department d
JOIN DbSecurity.UserAuthorization ua
    ON d.UserAuthorizationKey = ua.UserAuthorizationKey
ORDER BY d.DateAdded;

DepartmentName,GroupMemberFirstName,GroupMemberLastName,DateAdded
Computer Science,Eusan,Mahatab,2025-12-17 02:29:26.5809288
Mathematics,Eusan,Mahatab,2025-12-17 02:29:26.5809288
English,Eusan,Mahatab,2025-12-17 02:29:26.5809288